body {
  font-family: Arial, sans-serif;
  background-color: #333333;
  color: white;
  font-size: 1.1rem;
}

body > div {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.text-left {
  text-align: left;
}

/* square */
.square-55d63 {
  float: left;
  position: relative;

  /* disable any native browser highlighting */
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/* white square */
.white-1e1d7 {
  background-color: #f0d9b5;
  color: #b58863;
}

/* black square */
.black-3c85d {
  background-color: #b58863;
  color: #f0d9b5;
}
